
p {
    margin: 10px 0 !important;
}

.bg-fancy{
    background-color: #e0ffad;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2342cc18' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2310aa41' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2347c530' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2311a338' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%234cbf40' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23129c2f' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2352b84c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23139526' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2357b156' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23128f1b' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%235daa5f' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2312880f' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small{
    font-size: 16px !important;
}
.btn-float{
    float: left;
    margin-right: 10px;
}

.img-small{
    width: 180px;
}